<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../../../assets/admin/img/rhizo.png">
        </div>

      </a>
      <a href="" class="simple-text logo-normal">
        Rhizoshphere
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a href="back">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="active ">
          <a href="listProduct">
            <i class="nc-icon nc-cart-simple"></i>
            <p>Products</p>
          </a>
        </li>




        <li class="active">
          <a href="addCategory">
            <i class="nc-icon nc-bag-16"></i>
            <p>Category Product</p>
          </a>
        </li>
        <!--<li>
          <a href="libelem">
            <i class="nc-icon nc-shop"></i>
            <p>Library Element</p>
          </a>
        </li>
        <li>
          <a href="libcat">
            <i class="nc-icon nc-shop"></i>
            <p>Library Category</p>
          </a>
        </li>-->

        <li class="active">
          <a href="contact">
            <i class="nc-icon nc-tag-content"></i>
            <p>Contact</p>
          </a>
        </li>
        <li class="active ">
          <a href="Events" class="active ">
            <i class="nc-icon nc-shop"></i>
            <p>Events</p>
          </a>
        </li>
        <li class="active ">
          <a href="listUsers">
            <i class="nc-icon nc-single-02"></i>
            <p>User Profile</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
